@import "mixins";
@import "variables";

@add-request-header-padding: 20px;
@add-request-body-padding: 25px;

.add-request {
    &-panel-header {
        height: auto;
        padding: @add-request-header-padding;

        h2 {
            margin: 0;
            margin-bottom: 25px;
            padding: 0;

            a {
                .sidebar-header-link();
            }
        }

        .panel-header {
            &-back,
            &-cancel {
                display: inline-block;
                width: 20%;
            }

            &-cancel {
                text-align: right;
            }

            &-label {
                display: inline-block;
                text-align: center;
                width: 60%;
            }
        }

        &-step-1 {
            .panel-header {
                &-back {
                    display: none;
                }

                &-label {
                    text-align: left;
                    width: 75%;
                }
            }
        }
    }

    &-panel {
        .panel-body {
            padding: @add-request-body-padding;
            padding-top: 0;
        }
    }

    &-prompt {
        font-size: 18px;
        padding-bottom: 25px;
    }

    &-steps {
        margin-left: -@add-request-header-padding;
        margin-right: -@add-request-header-padding;

        .step-arrow {
            background: @blue-light-light;
            position: relative;
            height: 9px;
            width: 25%;
            float: right;

            &.active {
                background: @blue;

                &:after {
                    border-left-color: @blue;
                }
            }

            &:after, &:before {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-left-color: @blue-light-light;
                border-width: 4px;
                margin-top: -4px;
            }

            &:before {
                border-left-color: white;
                border-width: 5px;
                margin-top: -5px;
            }
        }
    }
}


@bin-type-list-item-height: 120px;
@bin-type-list-item-bottom-padding: 15px;
@bin-type-list-item-top-padding: 15px;
@radio-outer-size: 16px;
@radio-inner-size: 10px;

.add-request-panel {
    .bin-type-list {
        list-style: none;
        margin-left: -@add-request-body-padding;
        margin-right: -@add-request-body-padding;
        padding: 0;

        &-item {
            height: @bin-type-list-item-height;
            padding-left: @add-request-body-padding;
            padding-right: @add-request-body-padding;
            padding-top: @bin-type-list-item-top-padding;
            padding-bottom: @bin-type-list-item-bottom-padding;

            &.active,
            &:hover {
                background-color: @blue-light-light;
            }

            &-subtype {
                font-size: 20px;
            }

            &-text {
                font-family: @book-font-family;
            }

            &-image-column {
                padding: 0;
            }

            img {
                border: 3px solid @blue;
                border-radius: 10px;
                max-width: 100%;
            }

            input {
                display: none;
            }

            &-input {
                background-color: darken(@blue-light-light, 10%);
                border-radius: 50%;
                display: inline-block;
                height: @radio-outer-size;
                position: relative;
                top: (@bin-type-list-item-height / 2) - @bin-type-list-item-top-padding - (@radio-outer-size / 2);
                width: @radio-outer-size;

                &-inner {
                    background-color: @blue;
                    border-radius: 50%;
                    display: none;
                    height: @radio-inner-size;
                    left: (@radio-outer-size - @radio-inner-size) / 2;
                    position: relative;
                    top: (@radio-outer-size - @radio-inner-size) / 2;
                    width: @radio-inner-size;
                }
            }

            &.active {
                .bin-type-list-item-input-inner {
                    display: block;
                }
            }
        }
    }
}
