@import "variables";

@help-padding: 30px;

.help {
    background: fadeout(@blue-light, 25%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: @ui-z-index + 5;

    h1 {
        margin: 0;
        text-transform: uppercase;
    }

    h2 {
        border-bottom: 1px solid @blue;
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
        font-family: @book-font-family;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    h4 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        &.help-header {
            margin-bottom: 0px;
        }
        &.subhead {
            letter-spacing: 0;
            font-family: @book-font-family;
            text-transform: none;
        }
    }

    .help-header-img {
        margin-left: 0px;
        padding-right: 20px;
        width: 80px;
    }

    h5.no-margin-top {
        margin-top: 0;
        margin-bottom: 2px;
    }

    .type-description {
        font-family: @book-font-family;
    }

    .block-ratings .row {
        margin-bottom: 40px;

        img {
            border-radius: 5px;
        }
    }

    .help-block-ratings-use-header {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &-body {
        background: white;
        height: ~"calc(100% - @{header-height})";
        margin: 0 auto;
        margin-top: @header-height;
        overflow-y: auto;
        padding: @help-padding;
        max-width: 900px;
        min-width: 500px;
    }

    &-close {
        color: @blue;
        float: right;
        font-family: @text-button-font-family;
        font-size: 40px;
        line-height: 40px;
        margin-top: -10px;

        &:link, &:hover, &:active, &:focus {
            color: @blue;
            text-decoration: none;
        }
    }

    &-type {
        margin-bottom: 50px;
    }

    &-item {
        margin-bottom: 25px;
        margin-top: 25px;

        img {
            border-radius: 10px;
            max-width: 144px;
        }
    }

    &-download {
        border-radius: 0;
        float: right;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 8px 13px;
        text-transform: uppercase;
    }

    &-code-list {
        font-family: Georgia, serif;
        font-size: 14px;
    }

    &-code {
        text-decoration: underline;
    }

    &-description {
        font-family: Georgia, serif;
        font-size: 14px;
    }
}
