@import "variables";

@help-padding: 30px;

.help {
    background: fadeout(@blue-light, 25%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: @ui-z-index + 5;

    h1 {
        margin: 0;
        text-transform: uppercase;
    }

    h2 {
        border-bottom: 1px solid @blue;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    h3 {
        font-size: 16px;
        margin-top: 0;
    }

    p {
        font-family: Georgia, serif;
        font-size: 14px;
    }

    &-body {
        background: white;
        height: ~"calc(100% - @{header-height})";
        margin: 0 12.5%;
        margin-top: @header-height;
        overflow-y: auto;
        padding: @help-padding;
    }

    &-close {
        color: @blue;
        float: right;
        font-family: @text-button-font-family;
        font-size: 40px;
        line-height: 40px;
        margin-top: -10px;
        position: fixed;
        right: ~"calc(12.5% + 25px)";
        top: @header-height + 25px;

        &:link, &:hover, &:active, &:focus {
            color: @blue;
            text-decoration: none;
        }
    }

    &-type {
        margin-bottom: 50px;
    }

    &-item {
        margin-bottom: 25px;
        margin-top: 25px;

        img {
            border-radius: 10px;
            max-width: 144px;
        }
    }

    &-download {
        border-radius: 0;
        float: right;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 8px 13px;
        text-transform: uppercase;
    }
}
