@import "variables";

@help-padding: 25px;

.help {
    background: fadeout(@blue-light, 25%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: @ui-z-index + 5;

    h1 {
        margin: 0;
        text-transform: uppercase;
    }

    h2 {
        border-bottom: 1px solid @blue;
        padding-bottom: 10px;
    }

    &-body {
        background: white;
        height: ~"calc(95% - 39px)";
        margin: 0 12.5%;
        margin-top: 5%;
        overflow-y: auto;
        padding: @help-padding;
    }

    &-close {
        float: right;
        font-size: 40px;
        margin-top: -@help-padding;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    &-type {
        margin-bottom: 50px;
    }

    &-item {
        margin-bottom: 25px;
        margin-top: 25px;

        img {
            border-radius: 10px;
            max-width: 100%;
        }
    }

    &-download {
        border-radius: 0;
        float: right;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
