@import "variables";

.leaflet-control-zoom {
    a {
        background-color: @blue;
        border: none;
        color: white;

        &:first-child,
        &:last-child {
            border-radius: 0;
        }

        &:first-child {
            margin-bottom: 10px;
        }

        &:hover {
            background-color: lighten(@blue, 15%);
            border: none;
            color: white;
        }
    }
}

.leaflet-left {
    margin-left: @body-margin-side;

    .leaflet-control {
        margin-left: 0;
    }
}

.leaflet-bar {
    border: none;
}

.leaflet-touch {
    .leaflet-bar {
        .leaflet-bar();
    }
}

.leaflet-control-scale {
    bottom: 10px;
    left: 45px;
    margin-bottom: 0;
    position: absolute;

    &-line {
        background: fadeout(@blue, 80%);
        border-bottom: 0;
        border-color: @blue;
        color: @blue;

        &:not(:first-child) {
            border-top: 0;
            margin-top: 5px;
        }
    }
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 0;
}
