@import "variables";

.legend {
    background: white;
    bottom: 75px;
    display: none;
    height: 300px;
    left: 25px;
    position: absolute;
    width: 33.33%;
    z-index: @ui-z-index + 100;

    &.visible {
        display: block;
    }
}
