@import "variables";

@legend-padding: 25px;

.legend {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    left: 0;
    padding-left: @legend-padding;
    position: absolute;
    top: 0;
    width: 33.33%;
    max-width: 350px;
    z-index: @leaflet-control-z-index - 1;

    &.visible {
        display: block;
    }

    &-help {
        border: 1px solid @blue;
        border-radius: 50%;
        color: @blue;
        display: inline-block;
        float: right;
        font-size: 16px;
        height: 20px;
        margin-top: 3px;
        margin-right: @legend-padding;
        text-align: center;
        width: 20px;

        &:hover {
            background-color: @blue;
            color: white;
            text-decoration: none;
        }
    }

    &-header {
        font-size: 22px;
        height: 50px;
        margin: 0;
        margin-top: 50px;

        &-label {
            font-weight: bold;
            text-transform: uppercase;
        }

        &-clear {
            float: right;
            margin-right: @legend-padding;
            text-transform: uppercase;

            &, &:focus, &:visited {
                color: fadeout(@blue, 50%);
                text-decoration: none;
            }

            &:hover, &:active {
                color: @blue;
                text-decoration: none;
            }
        }
    }

    &-body {
        height: ~"calc(100% - 100px)";
        overflow-y: auto;
        padding-bottom: 100px;
    }

    &-section-header {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }

    &-year-picker {
        .form-group {
            display: inline-block;
            width: 30%;

            &:last-child {
                margin-left: 10px;
            }
        }

        select {
            background-color: lighten(@blue, 30%);
            border: 0;
            border-radius: 0;
            box-shadow: none;
            color: @blue;
            font-weight: bold;
        }
    }

}
