@import "icons";
@import "variables";

@legend-header-height: 60px;
@legend-body-offset: @header-height + @legend-header-height;
@legend-padding: 25px;

.legend-indicator(@round: false; @color: @blue) {
    & when (@round = true) {
        .legend-item-indicator {
            border-radius: 50%;
            &-inner {
                border-radius: 50%;
            }
        }
    }
    .legend-item-indicator-inner {
        background-color: @color;
    }
}

.legend {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    left: 0;
    padding-left: @legend-padding;
    position: absolute;
    top: 0;
    width: 33.33%;
    max-width: @sidebar-max-width;
    z-index: @leaflet-control-z-index - 1;

    &.visible {
        display: block;
    }

    &-help {
        border: 1px solid @blue;
        border-radius: 50%;
        color: @blue;
        display: inline-block;
        float: right;
        font-size: 14px;
        height: 20px;
        line-height: 17px;
        margin-top: 3px;
        margin-right: @legend-padding;
        text-align: center;
        width: 20px;

        &:hover {
            background-color: @blue;
            color: white;
            text-decoration: none;
        }
    }

    &-header {
        font-size: 22px;
        height: @legend-header-height;
        letter-spacing: 1px;
        margin: 0;
        margin-top: @header-height;
        padding-top: 10px;

        &-icon {
            .icon('filters');
            display: inline-block;
            float: left;
        }

        &-label {
            font-weight: normal;
            margin-left: 15px;
            text-transform: uppercase;
        }

        &-clear {
            float: right;
            margin-right: @legend-padding;
            text-transform: uppercase;

            &, &:focus, &:visited {
                color: fadeout(@blue, 50%);
                text-decoration: none;
            }

            &:hover, &:active {
                color: @blue;
                text-decoration: none;
            }
        }
    }

    &-body {
        height: ~"calc(100% - @{legend-body-offset})";
        overflow-y: auto;
        padding-bottom: 100px;
    }

    &-section-header {
        border-bottom: 1px solid @blue;
        font-size: 16px;
        font-weight: normal;
    }

    &-year-picker {
        .form-group {
            display: inline-block;
            width: 30%;

            &:last-child {
                margin-left: 10px;
            }
        }

        select {
            background-color: @blue-light-light;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            color: @blue;
            font-weight: normal;
        }
    }

    &-item {
        label {
            font-family: @book-font-family;
            font-size: 13px;
        }

        input {
            display: none;
        }

        &-indicator {
            background-color: @blue-light-light;
            display: inline-block;
            height: 12px;
            margin-right: 5px;
            width: 12px;

            &-inner {
                background-color: @blue;
                display: none;
                height: 6px;
                left: 3px;
                position: relative;
                width: 6px;
                top: 3px;
            }
        }

        &-litter {
            .legend-indicator(true; @green);
        }

        &-bigbelly {
            .legend-indicator(true; @green);
        }

        &-recycling {
            .legend-indicator(true; @green);
        }

        &-sanitation_conditions {
            .legend-indicator(true);
        }

        &-overflowing_litter_basket {
            .legend-indicator(true);
        }

        &-dirty_conditions {
            .legend-indicator(true);
        }

        &-5 {
            .legend-indicator(true; @rating-poor);
        }

        &-4 {
            .legend-indicator(true; @rating-below-average);
        }

        &-3 {
            .legend-indicator(true; @rating-average);
        }

        &-2 {
            .legend-indicator(true; @rating-above-average);
        }

        &-1 {
            .legend-indicator(true; @rating-great);
        }

        &.active .legend-item-indicator-inner {
            display: block;
        }
    }
}
