@import "variables";

.entity-list {
    list-style: none;
    padding: 0;

    &-item {
        cursor: pointer;
        padding: 15px @panel-body-padding;
        margin: 0 -@panel-body-padding;

        &:hover {
            color: white;
        }
    }
}

.panel-list {
    .panel-body {
        padding-top: 0;
    }

    .list-items-count {
        color: @blue-light;
        margin-left: 15px;
    }
}
