@import "bootstrap";
@import "leaflet";
@import "legend";
@import "map";
@import "panel";
@import "addrequest";
@import "help";
@import "list";
@import "reports";
@import "request";
@import "fonts";


html,
body {
    color: @blue;
    font-family: 'NationalWeb-Semibold', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    letter-spacing: 1px;
    width: 100%;
}

#app {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

header {
    height: @header-height;
    padding-left: @body-margin-side;
    padding-right: @body-margin-side;
    padding-top: @body-margin-top;
    position: absolute;
    width: 100%;
    z-index: @ui-z-index;

    .container-fluid {
        padding: 0;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }

    .navbar {
        border-width: 0;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;

        .navbar-nav {
            float: right;
        }

        .city {
            font-size: 12px;
        }

        a {
            font-size: 14px;
            padding: @nav-link-padding;
        }

        .navbar-brand {
            font-size: @font-size-large;
        }

        a.active {
            &, &:link, &:hover, &:active, &:focus {
                color: white;
                background-color: green;
                border-radius: 10px;
            }
        }
    }
}

.container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: @ui-z-index;
}

.container-narrow > hr {
    margin: 30px 0;
}

.app-container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background: white;
}
