@import "bootstrap";
@import "legend";
@import "map";
@import "panel";
@import "addrequest";
@import "list";


html,
body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

header {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    width: 100%;
    z-index: @ui-z-index;

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
}

.container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: @ui-z-index;
}

.container-narrow > hr {
    margin: 30px 0;
}

.app-container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background: white;
}
