@import "variables";

.map {
    height: 100%;
    width: 100%;
}

.btn-add {
    background: white;
    bottom: 25px;
    position: absolute;
    right: 25px;
    z-index: @ui-z-index;
}

.btn-legend {
    background: white;
    bottom: 25px;
    left: 50px;
    position: absolute;
    z-index: @ui-z-index;
}
