@import "variables";

.map {
    height: 100%;
    width: 100%;
}

.btn-add {
    border-radius: 50%;
    bottom: 25px;
    font-size: 30px;
    font-weight: normal;
    height: 40px;
    position: absolute;
    right: 25px;
    width: 40px;
    z-index: @ui-z-index;

    div {
        margin-top: -6px;
        text-align: center;
    }
}

.btn-list {
    background: white;
    top: 50px;
    position: absolute;
    right: 25px;
    z-index: @ui-z-index;
}

.btn-legend {
    background: white;
    bottom: 25px;
    left: 50px;
    position: absolute;
    z-index: @ui-z-index;
}
