@import "variables";
@panel-header-height: 75px;

.panel {
    background: white;
    height: 100%;
    position: absolute;
    top: 0;
    width: 33.33%;
    max-width: @sidebar-max-width;
    z-index: @ui-z-index - 1;

    &-right {
        right: 0;
    }

    &-close {
        background: @blue;
        color: white;
        display: inline-block;
        float: right;
        font-size: 35px;
        line-height: 35px;
        height: 35px;
        margin-right: @body-margin-side;
        text-align: center;
        width: 35px;

        &, &:hover, &:focus, &active {
            color: white;
            text-decoration: none;
        }
    }

    &-header {
        height: @panel-header-height;
        margin-top: @header-height;
    }

    &-body {
        height: ~"calc(100% - 150px)";
        overflow-y: auto;
        padding: @panel-body-padding;
    }

    @media (max-width: @screen-xs-max) {
        width: 100%;
    }
}

.detail-panel {
    img {
        max-width: 100%;
    }
}
