@import "variables";
@panel-header-height: 35px;

.panel {
    background: white;
    height: 100%;
    position: absolute;
    top: 0;
    width: 33.33%;
    z-index: @ui-z-index + 100;

    &-right {
        right: 0;
    }

    &-header {
        height: @panel-header-height;
    }

    &-body {
        height: ~"calc(100% - 35px)";
        overflow-y: auto;
        padding: @panel-body-padding;
    }
}
