@import "mixins";
@import "variables";

@panel-body-offset: @header-height + @panel-header-height;

.panel {
    background: white;
    height: 100%;
    position: absolute;
    top: 0;
    width: 33.33%;
    max-width: @sidebar-max-width;
    z-index: @ui-z-index - 1;

    &-right {
        right: 0;
    }

    &-close {
        background: @blue;
        color: white;
        display: inline-block;
        float: right;
        font-family: @text-button-font-family;
        font-size: @text-button-font-size;
        font-weight: @text-button-font-weight;
        line-height: @text-button-font-size;
        height: @default-icon-size;
        margin-right: @panel-body-padding;
        text-align: center;
        width: @default-icon-size;

        &, &:hover, &:focus, &active {
            color: white;
            text-decoration: none;
        }
    }

    &-header {
        height: @panel-header-height;
        letter-spacing: 1px;
        margin-top: @header-height;

        h2 {
            font-size: 18px;
            font-weight: normal;
            margin-left: @panel-body-padding;
            padding-top: 10px;
            text-transform: uppercase;
        }

        a:not(.panel-close) {
            .sidebar-header-link();

            &, &:focus, &:visited {
                color: @blue;
            }
        }
    }

    &-body {
        height: ~"calc(100% - @{panel-body-offset})";
        overflow-y: auto;
        padding: @panel-body-padding;
    }

    @media (max-width: @screen-xs-max) {
        width: 100%;
    }
}

.detail-panel {
    img {
        max-width: 100%;
    }

    .panel-body {
        padding-top: 0;
    }
}

.detail-panel-row {
    margin-bottom: 15px;
    margin-top: 15px;

    label {
        font-family: @book-font-family;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
