@import "variables";

.report-list-item {
    background-color: lighten(@blue, 32%);
    color: @blue;

    &:hover {
        background-color: @blue;
    }

    &-icon {
        background-color: orangered;
        border-radius: 50%;
        height: 15px;
        margin: 15px;
        margin-left: 5px;
        width: 15px;
    }

    &-complaint {
        font-size: 18px;
    }

    &-address {
        font-family: @book-font-family;
        font-size: 14px;
    }
}
