@import "icons";
@import "variables";

.report-list-item {
    background-color: @blue-transparent;
    color: @blue;

    &:hover {
        background-color: @blue-light;
    }

    &-icon {
        margin: 0 auto;

        &-column {
            padding: 0;
        }

        &-dirty-conditions {
            .icon('dirty-conditions', 45px);
        }

        &-overflowing-litter-baskets {
            .icon('overflowing-litter-baskets', 30px);
        }

        &-sanitation-condition {
            .icon('sanitation-condition', 30px);
        }
    }

    &-complaint {
        font-size: @list-title-font-size;
    }

    &-address {
        font-family: @book-font-family;
        font-size: @list-sub-font-size;
        letter-spacing: @list-sub-letter-spacing;
    }
}

.detail-panel-report {
    h2 {
        text-transform: capitalize;
    }

    &-icon {
        &-dirty-conditions {
            .icon('dirty-conditions', 50px);
        }

        &-overflowing-litter-baskets {
            .icon('overflowing-litter-baskets', 50px);
        }

        &-sanitation-condition {
            .icon('sanitation-condition', 50px);
        }

        display: inline-block;
        float: left;
        max-width: 25%;
        margin-top: 10px;
    }

    &-header {
        float: left;
        font-size: 32px;
        margin-left: 5%;
        max-width: 70%;
    }
}

.report-popup {
    .report-icon {
        &-dirty-conditions {
            .icon('dirty-conditions', 50px);
        }

        &-overflowing-litter-baskets {
            .icon('overflowing-litter-baskets', 50px);
        }

        &-sanitation-condition {
            .icon('sanitation-condition', 50px);
        }
    }
}
