@import "icons";
@import "variables";

.request-list-item {
    background-color: @green-transparent;
    color: @green;

    &:hover {
        background-color: @green-light;
    }

    &-icon {
        margin: 0 auto;
        .icon('bin-request', 40px);

        &-column {
            padding: 0;
        }
    }

    &-can-type {
        font-size: @list-title-font-size;
    }

    &-date {
        font-family: @book-font-family;
        font-size: @list-sub-font-size;
    }
}
