@bootstrap-location: "../bower_components/bootstrap/less";
@import "@{bootstrap-location}/variables.less";

@blue: #5194FF;
@green: #00A71F;
@green-mid: #65CA78;

@body-margin-side: 25px;
@body-margin-top: 15px;
@book-font-family: 'NationalWeb-Book', sans-serif;
@header-height: 75px;
@leaflet-control-z-index: 1000;
@sidebar-max-width: 350px;
@panel-body-padding: 35px;
@text-button-font-family: 'Lucida Console', Monaco, monospace;
@text-button-font-size: 35px;
@text-button-font-weight: normal;
@ui-z-index: 5000;

// Bootstrap overrides
@btn-border-radius-base: 0;
@btn-default-bg: @blue;
@btn-default-color: white;
@btn-font-weight: normal;
@nav-link-padding: 5px 30px;
@navbar-default-bg: transparent;
@navbar-default-brand-color: @blue;
@navbar-default-color: @blue;
@navbar-default-link-color: @blue;
@navbar-margin-bottom: 0;
