@bootstrap-location: "../bower_components/bootstrap/less";
@import "@{bootstrap-location}/variables.less";

@blue: #5194FF;

@body-margin-side: 25px;
@leaflet-control-z-index: 1000;
@panel-body-padding: 25px;
@ui-z-index: 5000;

// Bootstrap overrides
@navbar-default-bg: transparent;
@navbar-default-brand-color: blue;
@navbar-default-color: blue;
@navbar-default-link-color: blue;
@navbar-margin-bottom: 0;
