@bootstrap-location: "../bower_components/bootstrap/less";
@curbyourlitter-less-location: "../../node_modules/curbyourlitter-less/src/less";
@import "@{bootstrap-location}/variables.less";

@import "@{curbyourlitter-less-location}/curbyourlitter.less";

@body-margin-side: 25px;
@body-margin-top: 15px;
@book-font-family: 'NationalWeb-Book', sans-serif;
@default-icon-size: 32px;
@header-height: 80px;
@leaflet-control-z-index: 1000;
@list-title-font-size: 16px;
@list-sub-font-size: 10px;
@list-sub-letter-spacing: 1px;
@semibold-font-family: 'NationalWeb-Semibold', sans-serif;
@sidebar-max-width: 320px;
@panel-body-padding: 35px;
@panel-header-height: 50px;
@text-button-font-family: 'Lucida Console', Monaco, monospace;
@text-button-font-size: 32px;
@text-button-font-weight: normal;
@ui-z-index: 5000;

@button-z-index: @ui-z-index - 10;
@header-z-index: @ui-z-index + 10;
@panel-z-index: @button-z-index - 10;
