.can-list-item {
  background-color: #ebf0ee;
  color: #688979;
}
.can-list-item:hover {
  background-color: #688979;
}
.can-list-item-icon {
  background-image: url("/images/existing-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
.can-list-item-icon-column {
  padding: 0;
}
.can-list-item-type {
  font-size: 16px;
}
.detail-panel-can h2 {
  text-transform: capitalize;
}
.detail-panel-can-icon {
  background-image: url("/images/existing-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  max-width: 25%;
  margin-top: 10px;
}
.detail-panel-can-header {
  float: left;
  font-size: 32px;
  line-height: 60px;
  margin-left: 5%;
  max-width: 70%;
}
.can-popup .can-icon {
  background-image: url("/images/existing-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.report-list-item {
  background-color: rgba(81, 148, 255, 0.05);
  color: #5194ff;
}
.report-list-item:hover {
  background-color: #99c0fd;
}
.report-list-item-icon {
  margin: 0 auto;
}
.report-list-item-icon-column {
  padding: 0;
}
.report-list-item-icon-dirty-conditions {
  background-image: url("/images/dirty-conditions.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}
.report-list-item-icon-overflowing-litter-baskets {
  background-image: url("/images/overflowing-litter-baskets.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.report-list-item-icon-sanitation-condition {
  background-image: url("/images/sanitation-condition.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.report-list-item-complaint {
  font-size: 16px;
}
.report-list-item-address {
  font-family: 'NationalWeb-Book', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}
.detail-panel-report h2 {
  text-transform: capitalize;
}
.detail-panel-report-icon {
  display: inline-block;
  float: left;
  max-width: 25%;
  margin-top: 10px;
}
.detail-panel-report-icon-dirty-conditions {
  background-image: url("/images/dirty-conditions.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.detail-panel-report-icon-overflowing-litter-baskets {
  background-image: url("/images/overflowing-litter-baskets.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.detail-panel-report-icon-sanitation-condition {
  background-image: url("/images/sanitation-condition.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.detail-panel-report-header {
  float: left;
  font-size: 32px;
  margin-left: 5%;
  max-width: 70%;
}
.report-popup .report-icon-dirty-conditions {
  background-image: url("/images/dirty-conditions.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.report-popup .report-icon-overflowing-litter-baskets {
  background-image: url("/images/overflowing-litter-baskets.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.report-popup .report-icon-sanitation-condition {
  background-image: url("/images/sanitation-condition.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.request-list-item {
  background-color: rgba(0, 166, 31, 0.05);
  color: #00a61f;
}
.request-list-item:hover {
  background-color: #00a61f;
}
.request-list-item-litter-sighting {
  background-color: rgba(81, 148, 255, 0.05);
  color: #5194ff;
}
.request-list-item-litter-sighting:hover {
  background-color: #99c0fd;
}
.request-list-item-icon {
  margin: 0 auto;
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.request-list-item-icon-litter-sighting {
  background-image: url("/images/litter-sighting.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.request-list-item-icon-column {
  padding: 0;
}
.request-list-item-can-type {
  font-size: 16px;
  text-transform: capitalize;
}
.request-list-item-date {
  font-family: 'NationalWeb-Book', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}
.detail-panel-request h2 {
  text-transform: capitalize;
}
.detail-panel-request-icon {
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  max-width: 25%;
}
.detail-panel-request-icon-litter-sighting {
  background-image: url("/images/litter-sighting.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.detail-panel-request-header {
  float: left;
  font-size: 32px;
  margin-left: 5%;
  max-width: 70%;
}
.request-popup .request-icon {
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.request-popup .request-icon-litter-sighting {
  background-image: url("/images/litter-sighting.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.add-request-panel-header {
  height: auto;
  padding: 20px;
}
.add-request-panel-header h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.add-request-panel-header h2 a {
  white-space: nowrap;
}
.add-request-panel-header h2 a,
.add-request-panel-header h2 a:focus,
.add-request-panel-header h2 a:visited {
  color: #99c0fd;
  text-decoration: none;
}
.add-request-panel-header h2 a:hover,
.add-request-panel-header h2 a:active {
  color: #5194ff;
  text-decoration: none;
}
.add-request-panel-header .panel-header-back,
.add-request-panel-header .panel-header-cancel {
  display: inline-block;
  width: 20%;
}
.add-request-panel-header .panel-header-cancel {
  text-align: right;
}
.add-request-panel-header .panel-header-label {
  display: inline-block;
  text-align: center;
  width: 60%;
}
.add-request-panel-header-success .panel-header-back,
.add-request-panel-header-step-1 .panel-header-back {
  display: none;
}
.add-request-panel-header-success .panel-header-label,
.add-request-panel-header-step-1 .panel-header-label {
  text-align: left;
  width: 75%;
}
.add-request-success h2 {
  font-size: 18px;
}
.add-request-success button {
  margin-bottom: 15px;
}
.add-request-panel .panel-body {
  padding: 25px;
  padding-top: 0;
}
.add-request-prompt {
  font-size: 18px;
  padding-bottom: 25px;
}
.add-request-bin-tips {
  font-family: 'NationalWeb-Book', sans-serif;
}
.add-request-steps {
  margin-left: -20px;
  margin-right: -20px;
}
.add-request-steps .step-arrow {
  background: #eef4ff;
  position: relative;
  height: 9px;
  width: 25%;
  float: right;
}
.add-request-steps .step-arrow.active {
  background: #5194ff;
}
.add-request-steps .step-arrow.active:after {
  border-left-color: #5194ff;
}
.add-request-steps .step-arrow:after,
.add-request-steps .step-arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.add-request-steps .step-arrow:after {
  border-left-color: #eef4ff;
  border-width: 4px;
  margin-top: -4px;
}
.add-request-steps .step-arrow:before {
  border-left-color: white;
  border-width: 5px;
  margin-top: -5px;
}
.add-request-panel .bin-type-list {
  list-style: none;
  margin-left: -25px;
  margin-right: -25px;
  padding: 0;
}
.add-request-panel .bin-type-list-item {
  min-height: 120px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.add-request-panel .bin-type-list-item.active,
.add-request-panel .bin-type-list-item:hover {
  background-color: #eef4ff;
}
.add-request-panel .bin-type-list-item-subtype {
  font-size: 20px;
}
.add-request-panel .bin-type-list-item-text {
  font-family: 'NationalWeb-Book', sans-serif;
}
.add-request-panel .bin-type-list-item-image-column {
  padding: 0;
}
.add-request-panel .bin-type-list-item img {
  border: 3px solid #5194ff;
  border-radius: 10px;
  max-width: 100%;
}
.add-request-panel .bin-type-list-item input {
  display: none;
}
.add-request-panel .bin-type-list-item-input {
  background-color: #bbd3ff;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  position: relative;
  top: 37px;
  width: 16px;
}
.add-request-panel .bin-type-list-item-input-inner {
  background-color: #5194ff;
  border-radius: 50%;
  display: none;
  height: 10px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 10px;
}
.add-request-panel .bin-type-list-item.active .bin-type-list-item-input-inner {
  display: block;
}
.add-request-panel .image-input {
  margin-bottom: 15px;
}
.add-request-panel .image-input label {
  display: block;
}
.add-request-panel .image-input input {
  display: none;
}
.add-request-panel .next-button {
  margin-top: 25px;
}
