.can-list-item {
  background-color: #ebf0ee;
  color: #688979;
}
.can-list-item:hover {
  background-color: #688979;
}
.can-list-item-icon {
  background-image: url("/images/existing-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
.can-list-item-icon-column {
  padding: 0;
}
.can-list-item-type {
  font-size: 16px;
}
.detail-panel-can h2 {
  text-transform: capitalize;
}
.detail-panel-can-icon {
  background-image: url("/images/existing-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  max-width: 25%;
  margin-top: 10px;
}
.detail-panel-can-header {
  float: left;
  font-size: 32px;
  line-height: 60px;
  margin-left: 5%;
  max-width: 70%;
}
.can-popup .can-icon {
  background-image: url("/images/existing-bin.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
