.help {
  background: rgba(153, 192, 253, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5005;
}
.help h1 {
  margin: 0;
  text-transform: uppercase;
}
.help h2 {
  border-bottom: 1px solid #5194ff;
  padding-bottom: 10px;
}
.help-body {
  background: white;
  height: calc(95% - 39px);
  margin: 0 12.5%;
  margin-top: 5%;
  overflow-y: auto;
  padding: 25px;
}
.help-close {
  float: right;
  font-size: 40px;
  margin-top: -25px;
}
.help-close:hover,
.help-close:active,
.help-close:focus {
  text-decoration: none;
}
.help-type {
  margin-bottom: 50px;
}
.help-download {
  border-radius: 0;
  float: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}
