.help {
  background: rgba(153, 192, 253, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5005;
}
.help h1 {
  margin: 0;
  text-transform: uppercase;
}
.help h2 {
  border-bottom: 1px solid #5194ff;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 10px;
}
.help h3 {
  font-size: 16px;
  margin-top: 0;
}
.help p {
  font-family: Georgia, serif;
  font-size: 14px;
}
.help-body {
  background: white;
  height: calc(100% - 80px);
  margin: 0 12.5%;
  margin-top: 80px;
  overflow-y: auto;
  padding: 30px;
}
.help-close {
  color: #5194ff;
  float: right;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}
.help-close:link,
.help-close:hover,
.help-close:active,
.help-close:focus {
  color: #5194ff;
  text-decoration: none;
}
.help-type {
  margin-bottom: 50px;
}
.help-item {
  margin-bottom: 25px;
  margin-top: 25px;
}
.help-item img {
  border-radius: 10px;
  max-width: 144px;
}
.help-download {
  border-radius: 0;
  float: right;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 13px;
  text-transform: uppercase;
}
