.leaflet-control-zoom a {
  background-color: #5194ff;
  border: none;
  color: white;
}
.leaflet-control-zoom a:first-child,
.leaflet-control-zoom a:last-child {
  border-radius: 0;
}
.leaflet-control-zoom a:first-child {
  margin-bottom: 10px;
}
.leaflet-control-zoom a:hover {
  background-color: #9ec3ff;
  border: none;
  color: white;
}
.leaflet-left {
  margin-left: 25px;
}
.leaflet-left .leaflet-control {
  margin-left: 0;
}
.leaflet-bar {
  border: none;
}
.leaflet-touch .leaflet-bar {
  border: none;
}
.leaflet-control-scale {
  bottom: 10px;
  left: 45px;
  margin-bottom: 0;
  position: absolute;
}
.leaflet-control-scale-line {
  background: rgba(81, 148, 255, 0.2);
  border-bottom: 0;
  border-color: #5194ff;
  color: #5194ff;
}
.leaflet-control-scale-line:not(:first-child) {
  border-top: 0;
  margin-top: 5px;
}
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 0;
}
