.legend {
  background: rgba(255, 255, 255, 0.7);
  height: calc(100% - 50px);
  left: 0;
  padding: 25px;
  position: absolute;
  top: 50px;
  width: 33.33%;
  z-index: 999;
}
.legend.visible {
  display: block;
}
