.btn-legend {
  background-image: url("/images/filters.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  border-radius: 0;
  left: 25px;
  position: absolute;
  top: 90px;
}
.legend {
  background: rgba(255, 255, 255, 0.7);
  display: none;
  height: 100%;
  left: 0;
  padding-left: 25px;
  position: absolute;
  top: 0;
  width: 33.33%;
  max-width: 320px;
  z-index: 999;
}
.legend.visible {
  display: block;
}
.legend-help {
  border: 1px solid #5194ff;
  border-radius: 50%;
  color: #5194ff;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 20px;
  line-height: 17px;
  margin-top: -3px;
  margin-right: 25px;
  text-align: center;
  width: 20px;
}
.legend-help:hover {
  background-color: #5194ff;
  color: white;
  text-decoration: none;
}
.legend-header {
  font-size: 22px;
  height: 60px;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 80px;
  padding-top: 10px;
}
.legend-header-icon {
  background-image: url("/images/filters.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  display: inline-block;
  float: left;
}
.legend-header-label {
  font-weight: normal;
  margin-left: 15px;
  text-transform: uppercase;
}
.legend-header-clear {
  float: right;
  margin-right: 25px;
  text-transform: uppercase;
}
.legend-header-clear,
.legend-header-clear:focus,
.legend-header-clear:visited {
  color: #99c0fd;
  text-decoration: none;
}
.legend-header-clear:hover,
.legend-header-clear:active {
  color: #5194ff;
  text-decoration: none;
}
.legend-body {
  height: calc(100% - 140px);
  overflow-y: auto;
  padding-bottom: 100px;
}
.legend h3 {
  font-size: 14px;
  line-height: 14px;
  margin-top: 11px 0;
}
.legend-section-header {
  border-bottom: 1px solid #5194ff;
  font-size: 14px;
  font-weight: normal;
}
.legend-year-picker .form-group {
  display: inline-block;
  width: 30%;
}
.legend-year-picker .form-group:last-child {
  margin-left: 10px;
}
.legend-year-picker select {
  background-color: #eef4ff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #5194ff;
  font-weight: normal;
}
.legend-item label {
  color: #99c0fd;
  font-family: 'NationalWeb-Book', sans-serif;
  font-size: 13px;
  margin-bottom: 3px;
}
.legend-item.active label {
  color: #5194ff;
}
.legend-item input {
  display: none;
}
.legend-item-indicator {
  background-color: #eef4ff;
  display: inline-block;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
  width: 14px;
}
.legend-item-indicator-inner {
  background-color: #5194ff;
  display: none;
  height: 8px;
  left: 3px;
  position: relative;
  width: 8px;
  top: 3px;
}
.legend-item-litter .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-litter .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-litter .legend-item-indicator-inner {
  background-color: #00a61f;
}
.legend-item-bigbelly .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-bigbelly .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-bigbelly .legend-item-indicator-inner {
  background-color: #00a61f;
}
.legend-item-recycling .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-recycling .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-recycling .legend-item-indicator-inner {
  background-color: #00a61f;
}
.legend-item-sanitation_conditions .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-sanitation_conditions .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-sanitation_conditions .legend-item-indicator-inner {
  background-color: #5194ff;
}
.legend-item-overflowing_litter_basket .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-overflowing_litter_basket .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-overflowing_litter_basket .legend-item-indicator-inner {
  background-color: #5194ff;
}
.legend-item-dirty_conditions .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-dirty_conditions .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-dirty_conditions .legend-item-indicator-inner {
  background-color: #5194ff;
}
.legend-item-5 .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-5 .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-5 .legend-item-indicator-inner {
  background-color: #ae4fbc;
}
.legend-item-4 .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-4 .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-4 .legend-item-indicator-inner {
  background-color: #5343ed;
}
.legend-item-3 .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-3 .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-3 .legend-item-indicator-inner {
  background-color: #009ce4;
}
.legend-item-2 .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-2 .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-2 .legend-item-indicator-inner {
  background-color: #37d2d0;
}
.legend-item-1 .legend-item-indicator {
  border-radius: 50%;
}
.legend-item-1 .legend-item-indicator-inner {
  border-radius: 50%;
}
.legend-item-1 .legend-item-indicator-inner {
  background-color: #2ad864;
}
.legend-item.active .legend-item-indicator-inner {
  display: block;
}
