.entity-list {
  list-style: none;
  padding: 0;
}
.entity-list-item {
  border-top: 1px solid lightgray;
  cursor: pointer;
  padding: 5px 25px;
  margin: 0 -25px;
}
.entity-list-item:hover {
  background: gray;
  color: white;
}
