.entity-list {
  list-style: none;
  padding: 0;
}
.entity-list-item {
  cursor: pointer;
  padding: 15px 35px;
  margin: 0 -35px;
}
.entity-list-item:hover {
  color: white;
}
.panel-list .panel-body {
  padding-top: 0;
}
.panel-list .list-items-count {
  color: #9ec3ff;
  margin-left: 15px;
}
