.report-list-item {
  background-color: #f4f8ff;
  color: #5194ff;
}
.report-list-item:hover {
  background-color: #5194ff;
}
.report-list-item-icon {
  margin: 0 auto;
}
.report-list-item-icon-column {
  padding: 0;
}
.report-list-item-icon-dirty-conditions {
  background-image: url("/images/dirty-conditions.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.report-list-item-icon-overflowing-litter-baskets {
  background-image: url("/images/overflowing-litter-baskets.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.report-list-item-icon-sanitation-condition {
  background-image: url("/images/sanitation-condition.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.report-list-item-complaint {
  font-size: 18px;
}
.report-list-item-address {
  font-family: 'NationalWeb-Book', sans-serif;
  font-size: 14px;
}
