.request-list-item {
  background-color: #eaf8ec;
  color: #00a71f;
}
.request-list-item:hover {
  background-color: #65ca78;
}
.request-list-item-icon {
  margin: 0 auto;
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}
.request-list-item-icon-column {
  padding: 0;
}
.request-list-item-can-type {
  font-size: 18px;
}
.request-list-item-date {
  font-family: 'NationalWeb-Book', sans-serif;
  font-size: 14px;
}
