.request-list-item {
  background-color: rgba(0, 166, 31, 0.05);
  color: #00a61f;
}
.request-list-item:hover {
  background-color: #00a61f;
}
.request-list-item-litter-sighting {
  background-color: rgba(81, 148, 255, 0.05);
  color: #5194ff;
}
.request-list-item-litter-sighting:hover {
  background-color: #99c0fd;
}
.request-list-item-icon {
  margin: 0 auto;
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.request-list-item-icon-litter-sighting {
  background-image: url("/images/litter-sighting.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.request-list-item-icon-column {
  padding: 0;
}
.request-list-item-can-type {
  font-size: 16px;
  text-transform: capitalize;
}
.request-list-item-date {
  font-family: 'NationalWeb-Book', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}
.detail-panel-request h2 {
  text-transform: capitalize;
}
.detail-panel-request-icon {
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  max-width: 25%;
}
.detail-panel-request-icon-litter-sighting {
  background-image: url("/images/litter-sighting.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.detail-panel-request-header {
  float: left;
  font-size: 32px;
  margin-left: 5%;
  max-width: 70%;
}
.request-popup .request-icon {
  background-image: url("/images/bin-request.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
